<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ssm.mapper.FilmMapper">
	<resultMap id="film" type="cn.ssm.po.Film">
		<id column="film_id" property="film_id" jdbcType="TINYINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="release_year" property="releaseYear" jdbcType="DATE" />
		<result column="language_id" property="language_id" jdbcType="TINYINT" />
		<result column="original_language_id" property="originalLanguageId"
			jdbcType="TINYINT" />
		<result column="rental_duration" property="rentalDuration"
			jdbcType="TINYINT" />
		<result column="rental_rate" property="rentalRate" jdbcType="DECIMAL" />
		<result column="length" property="length" jdbcType="SMALLINT" />
		<result column="replacement_cost" property="replacementCost"
			jdbcType="DECIMAL" />
		<result column="rating" property="rating" jdbcType="CHAR" />
		<result column="special_features" property="special_features"
			jdbcType="CHAR" />
		<result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="getById" parameterType="int" resultType="cn.ssm.po.Film">
		select film_id, title, description, language_id from film where film_id
		= ${_parameter}
	</select>
	
	<select id="getAll"  resultType="cn.ssm.po.Film">
		select film_id, title, description, language_id from film
	</select>

	<select id="selectCount" parameterType="cn.ssm.po.Film" resultType="int">
		SELECT COUNT(1)
		FROM film
		WHERE
		1=1
		<if test="film_id !=null">
			AND id LIKE CONCAT('%', CONCAT(#{film_id}, '%'))
		</if>
	</select>

	<update id="updatef" parameterType="cn.ssm.po.Film">
		UPDATE film
		SET
		title=#{title},description=#{title},language_id=#{language_id}
		where film_id=#{film_id}
	</update>

	<delete id="delete" parameterType="cn.ssm.po.Film">
		DELETE FROM
		film
		WHERE film_id = #{film_id}
	</delete>
	
	<delete id="deleteByid" parameterType="int">
		delete from film where film_id = ${_parameter}
	</delete>
	
	<update id="changeFK" parameterType="int">
		SET FOREIGN_KEY_CHECKS=${_parameter};
	</update>
	
	<insert id="insert" parameterType="cn.ssm.po.Film" useGeneratedKeys="true"
		keyProperty="film_id">
		INSERT INTO film (title, description, language_id,special_features,last_update)
		VALUES (#{title}, #{description}, #{language_id}, #{special_features}, now());
	</insert>

</mapper>